@font-face {
  font-family: Intro;
  src: url('/Intro.otf');
}

@font-face {
  font-family: Century Gothic;
  src: url('/CenturyGothic.ttf');
}

@font-face {
  font-family: Rubik;
  src: url('/Rubik.ttf');
}

@font-face {
  font-family: Proxima Nova;
  src: url(/ProximaNova.otf);
}
.loader {
  background: #000;
  background: radial-gradient(#222, #000);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}

.loader-line-1,
.loader-line-2,
.loader-line-3,
.loader-line-4,
.loader-line-5,
.loader-line-6,
.loader-line-7 {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap:nth-child(1) {
  animation-delay: -50ms;
}

.loader-line-wrap:nth-child(2) {
  animation-delay: -100ms;
}

.loader-line-wrap:nth-child(3) {
  animation-delay: -150ms;
}

.loader-line-wrap:nth-child(4) {
  animation-delay: -200ms;
}

.loader-line-wrap:nth-child(5) {
  animation-delay: -250ms;
}

@keyframes spin {
  0%,
  15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-line-wrap:nth-child(1) .loader-line-1 {
  border-color: hsl(61, 100%, 68%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line-1 {
  border-color: hsl(0, 0%, 100%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line-1 {
  border-color: hsl(263, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line-1 {
  border-color: hsl(0, 0%, 0%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line-1 {
  border-color: hsla(61, 100%, 68%, 0);
  height: 34px;
  width: 34px;
  top: 35px;
}

.loader-line-wrap:nth-child(1) .loader-line-2 {
  border-color: hsl(187, 100%, 68%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line-2 {
  border-color: hsl(315, 100%, 85%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line-2 {
  border-color: hsl(0, 0%, 100%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line-2 {
  border-color: hsl(315, 100%, 85%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line-2 {
  border-color: hsl(187, 100%, 68%);
  height: 34px;
  width: 34px;
  top: 35px;
}

.loader-line-wrap:nth-child(1) .loader-line-3 {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line-3 {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line-3 {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line-3 {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line-3 {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}

.loader-line-wrap:nth-child(1) .loader-line-4 {
  border-color: hsl(313, 100%, 61%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line-4 {
  border-color: hsl(313, 100%, 61%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line-4 {
  border-color: hsl(49, 100%, 50%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line-4 {
  border-color: hsl(199, 100%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line-4 {
  border-color: hsl(199, 100%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}

.loader-line-wrap:nth-child(1) .loader-line-5 {
  border-color: hsl(318, 75%, 46%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line-5 {
  border-color: hsl(318, 75%, 46%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line-5 {
  border-color: hsl(283, 70%, 41%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line-5 {
  border-color: hsl(241, 98%, 58%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line-5 {
  border-color: hsl(241, 98%, 58%);
  height: 34px;
  width: 34px;
  top: 35px;
}

.loader-line-wrap:nth-child(1) .loader-line-6 {
  border-color: hsl(0, 0%, 0%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line-6 {
  border-color: hsl(0, 0%, 55%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line-6 {
  border-color: hsl(0, 0%, 100%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line-6 {
  border-color: hsl(308, 64%, 39%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line-6 {
  border-color: hsla(241, 98%, 58%, 0);
  height: 34px;
  width: 34px;
  top: 35px;
}

.loader-line-wrap:nth-child(1) .loader-line-7 {
  border-color: hsl(320, 92%, 54%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line-7 {
  border-color: hsl(310, 64%, 71%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line-7 {
  border-color: hsl(0, 0%, 100%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line-7 {
  border-color: hsl(9, 81%, 64%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line-7 {
  border-color: hsl(9, 71%, 52%);
  height: 34px;
  width: 34px;
  top: 35px;
}

.home-section {
  position: absolute;
  background: #000;
  background: radial-gradient(#333, #111);
  background-size: cover;
  height: 200vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 0;
  background-position: fixed;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  font-family: Proxima Nova;
  font-size: 50px;
  font-weight: 600;
  color: white;
  width: 100%;
  height: 80px;
  position: fixed;
  text-align: center;
  background-color: rgba(0, 0, 0, 1);
  z-index: 99;
  transition: all 0.5s ease;
}

html:not([data-scroll='0']) body .navbar {
  background-color: rgba(17, 17, 17, 0.74);
  transition: all 0.5s ease;
}

.navbar .title {
  transform: translateY(-70%);
}

.navbar .logo {
  display: inline;
  margin-right: 20px;
  border-radius: 20px;
  width: 50px;
  height: 50px;
  background-image: '/logo.png';
  background-size: cover;
}

.footer-basic {
  padding: 40px 0;
  background: #000;
  background: radial-gradient(rgb(22, 22, 22), rgb(17, 17, 17));
  color: white;
  border-top: 4px solid #33d486;
}

.footer-basic ul {
  font-family: 'Intro';
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
  display: inline;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.7;
  transition: all 0.5s ease;
}

.footer-basic ul a:hover {
  opacity: 1;
  color: #33d486;
  transition: all 0.5s ease;
}

.footer-basic footer .social {
  font-family: 'Intro';
  text-align: center;
  padding-bottom: 5px;
}

.footer-basic footer .social > a {
  font-family: 'Intro';
  font-size: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #33d486;
  margin: 2px 8px;
  color: inherit;
  opacity: 0.7;
  transition: all 0.5s ease;
}
.footer-basic footer .social > a > i {
  position: relative;
  top: 6px;
}

.footer-basic footer .social > a > i > svg {
  width: 20px;
  height: 20px;
}

.footer-basic footer .social > a:hover {
  opacity: 1;
  border: 1px solid #33d486;
  color: #33d486;
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.footer-basic footer .copyright {
  font-family: 'Century Gothic';
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #33d486;
  opacity: 0.7;
  margin-bottom: 0;
}

.wrapper {
  width: 100%;
  padding: 0rem 2rem;
  display: inline-block;
  overflow: hidden;
}

.spotify-profile {
  width: 25%;
  height: 300px;
  border-radius: 20px;
  float: left;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.3);
}

.spotify-profile .spotify-image {
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  background-size: cover;
  transform: translateY(30%);
}

.spotify-profile .spotify-country {
  width: 40px;
  height: 40px;
  background-size: cover;
  position: absolute;
  border-radius: 50%;
  outline: solid 10px #0b0b0b;
  left: 17%;
}

.spotify-profile .spotify-name {
  font-weight: 600;
  font-family: 'Proxima Nova';
  font-size: 30px;
  color: white;
  text-align: center;
  transform: translateY(70px);
}

.spotify-profile .spotify-followers {
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: #33d486;
  text-align: center;
  transform: translateY(70px);
}

.spotify-artists {
  width: 45%;
  height: auto;
  border-radius: 20px;
  float: left;
  margin: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.spotify-artists .artists-title {
  margin: 10px;
  margin-top: 20px;
  color: white;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Proxima Nova';
}

.spotify-artists .artists-description {
  margin: 10px;
  color: rgb(175, 175, 175);
  font-size: 15px;
  font-weight: 600;
  font-family: Century Gothic;
  margin-bottom: 20px;
}

.spotify-artists .artist {
  margin: 10px;
  height: 70px;
  border-bottom: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: all 0.5s ease;
  overflow: hidden;
}

.spotify-artists .artist:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.spotify-artists .artist .artist-image {
  float: left;
}

.spotify-artists .artist .artist-index {
  float: left;
  font-family: Century Gothic;
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin: 5px;
  margin-left: 10px;
  margin-right: 20px;
  width: 40px;
  padding: 10px;
  height: 40px;
  background-color: rgb(58, 58, 58);
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

.spotify-artists #artist-0 .artist-index {
  background-color: rgb(201, 163, 40);
}

.spotify-artists #artist-1 .artist-index {
  background-color: rgb(216, 216, 216);
}

.spotify-artists #artist-2 .artist-index {
  background-color: rgba(187, 67, 20, 1);
}

.spotify-artists .artist .artist-image span {
  border-radius: 50%;
}

.spotify-artists .artist .artist-name {
  margin: 15px;
  float: left;
  font-family: Century Gothic;
  font-size: 15px;
  font-weight: 600;
  color: white;
  width: 50%;
}

.spotify-artists .artist .artist-followers {
  float: right;
  text-align: right;
  color: #929292;
  font-family: Century Gothic;
  font-size: 15px;
  font-weight: 600;
  margin: 10px;
}

.spotify-tracks {
  width: 45%;
  height: auto;
  border-radius: 20px;
  float: left;
  margin: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.spotify-tracks .tracks-title {
  margin: 10px;
  margin-top: 20px;
  color: white;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Proxima Nova';
}

.spotify-tracks .tracks-description {
  margin: 10px;
  color: rgb(175, 175, 175);
  font-size: 15px;
  font-weight: 600;
  font-family: Century Gothic;
  margin-bottom: 20px;
}

.spotify-tracks .track {
  margin: 10px;
  height: 70px;
  border-bottom: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: all 0.5s ease;
  overflow: hidden;
}

.spotify-tracks .track:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.spotify-tracks .track .track-image {
  float: left;
}

.spotify-tracks .track .track-index {
  float: left;
  width: 30%;
  font-family: Century Gothic;
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin: 5px;
  margin-left: 10px;
  margin-right: 20px;
  width: 40px;
  padding: 10px;
  height: 40px;
  background-color: rgb(58, 58, 58);
  border-radius: 50%;
  text-align: center;
}

.spotify-tracks #track-0 .track-index {
  background-color: rgb(201, 163, 40);
}

.spotify-tracks #track-1 .track-index {
  background-color: rgb(216, 216, 216);
}

.spotify-tracks #track-2 .track-index {
  background-color: rgba(187, 67, 20, 1);
}

.spotify-tracks .track .track-image span {
  border-radius: 50%;
}

.spotify-tracks .track .track-name {
  width: 50%;
  margin: 15px;
  float: left;
  font-family: Century Gothic;
  font-size: 15px;
  font-weight: 600;
  color: white;
}

.spotify-tracks .track svg {
  margin: 10px;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  color: white;
  float: left;
}

.spotify-tracks .track .track-followers {
  float: right;
  text-align: right;
  color: #929292;
  font-family: Century Gothic;
  font-size: 15px;
  font-weight: 600;
  margin: 10px;
}

.spotify-tracks .track .track-followers svg {
  transform: translateY(2.5px);
  height: 15px;
  width: 15px;
  margin-left: 10px;
  color: #929292;
  margin-top: 0px;
}

.spotify-genres {
  width: 65%;
  height: 300px;
  border-radius: 20px;
  float: left;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.3);
}

.spotify-genres .genres-info {
  width: 60%;
  float: left;
  margin: 20px;
}

.spotify-genres .genres-info .genres-title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Proxima Nova';
  margin: 10px;
  margin-top: 10px;
}

.spotify-genres .genres-info .genres-description {
  margin: 10px;
  color: rgb(175, 175, 175);
  font-size: 15px;
  font-weight: 600;
  font-family: Century Gothic;
}

.spotify-genres .genres-info .genres-container {
  margin: 5px;
  height: 170px;
  overflow: hidden;
}

.spotify-genres .genres-info .genres-container div {
  display: flex;
  float: left;
  margin: 5px;
  border-radius: 6px;
  padding: 2px;
  font-size: auto;
  color: rgb(236, 236, 236);
  font-family: 'Rubik', sans-serif;
}

.spotify-genres .genres {
  width: 30%;
  transform: translateY(25px);
  float: right;
}

.credits {
  width: 91.5%;
  height: auto;
  border-radius: 20px;
  float: left;
  margin: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.credits .credits-title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
  margin-top: 10px;
}

.credits .credits-description {
  margin: 10px;
  margin-top: 20px;
  color: rgb(175, 175, 175);
  line-height: 25px;
  font-size: 15px;
  font-weight: 600;
  font-family: Century Gothic;
}

.credits .credits-profiles {
  margin: auto;
  margin-top: 20px;
}

.credits .credits-profiles .profile {
  height: 50px;
  width: 50px;
  background-size: cover;
  border-radius: 50%;
}

.credits .credits-profiles .profile .profile-name {
  margin: auto;
  width: 100px;
  background-color: rgb(7, 7, 7);
  color: white;
  font-weight: 600;
  font-family: Century Gothic;
  display: none;
  border-radius: 8px;
  position: relative;
  transform: translateX(50px);
  padding: 5px;
  text-align: center;
}

.credits .credits-profiles .profile:hover > .profile-name {
  display: flex;
}

@media (max-width: 1302px) {
  .spotify-artists,
  .spotify-tracks,
  .spotify-genres,
  .spotify-profile,
  .credits {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .spotify-profile .spotify-country {
    left: 55%;
  }
  .spotify-genres {
    height: auto;
  }
}

@media (max-width: 630px) {
  .spotify-tracks .track .track-followers {
    display: none;
  }
  .spotify-artists .artist .artist-followers {
    display: none;
  }
}
