/* ===================================================================
 *  01. Fonts
 *
 * ------------------------------------------------------------------- */

@font-face {
  font-family: Intro;
  src: url('http://fonts.cdnfonts.com/css/intro');
}

@font-face {
  font-family: Rubik;
  src: url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
}

@font-face {
  font-family: Proxima Nova;
  src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ===================================================================
 *  02. Loader Flags
 *
 * ------------------------------------------------------------------- */
.genres-container::-webkit-scrollbar {
  width: 1em;
  background-color: rgba(7, 7, 7, 0);
}
 
body::-webkit-scrollbar {
  width: 1em;
  background-color: rgba(7, 7, 7, 1);
}

body::-webkit-scrollbar-thumb, .genres-container::-webkit-scrollbar-thumb {
  background-color: rgb(20, 20, 20);
  border-radius: 50px;
}
.loader {
  background: #000;
  background: radial-gradient(#222, #000);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}

.loader-line-1,
.loader-line-2,
.loader-line-3,
.loader-line-4,
.loader-line-5,
.loader-line-6,
.loader-line-7 {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap:nth-child(1) {
  animation-delay: -50ms;
}

.loader-line-wrap:nth-child(2) {
  animation-delay: -100ms;
}

.loader-line-wrap:nth-child(3) {
  animation-delay: -150ms;
}

.loader-line-wrap:nth-child(4) {
  animation-delay: -200ms;
}

.loader-line-wrap:nth-child(5) {
  animation-delay: -250ms;
}

@keyframes spin {
  0%,
  15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-line-wrap:nth-child(1) .loader-line-1 {
  border-color: hsl(61, 100%, 68%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line-1 {
  border-color: hsl(0, 0%, 100%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line-1 {
  border-color: hsl(263, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line-1 {
  border-color: hsl(0, 0%, 0%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line-1 {
  border-color: hsla(61, 100%, 68%, 0);
  height: 34px;
  width: 34px;
  top: 35px;
}

.loader-line-wrap:nth-child(1) .loader-line-2 {
  border-color: hsl(187, 100%, 68%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line-2 {
  border-color: hsl(315, 100%, 85%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line-2 {
  border-color: hsl(0, 0%, 100%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line-2 {
  border-color: hsl(315, 100%, 85%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line-2 {
  border-color: hsl(187, 100%, 68%);
  height: 34px;
  width: 34px;
  top: 35px;
}

.loader-line-wrap:nth-child(1) .loader-line-3 {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line-3 {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line-3 {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line-3 {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line-3 {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}

.loader-line-wrap:nth-child(1) .loader-line-4 {
  border-color: hsl(313, 100%, 61%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line-4 {
  border-color: hsl(313, 100%, 61%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line-4 {
  border-color: hsl(49, 100%, 50%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line-4 {
  border-color: hsl(199, 100%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line-4 {
  border-color: hsl(199, 100%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}

.loader-line-wrap:nth-child(1) .loader-line-5 {
  border-color: hsl(318, 75%, 46%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line-5 {
  border-color: hsl(318, 75%, 46%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line-5 {
  border-color: hsl(283, 70%, 41%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line-5 {
  border-color: hsl(241, 98%, 58%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line-5 {
  border-color: hsl(241, 98%, 58%);
  height: 34px;
  width: 34px;
  top: 35px;
}

.loader-line-wrap:nth-child(1) .loader-line-6 {
  border-color: hsl(0, 0%, 0%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line-6 {
  border-color: hsl(0, 0%, 55%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line-6 {
  border-color: hsl(0, 0%, 100%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line-6 {
  border-color: hsl(308, 64%, 39%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line-6 {
  border-color: hsla(241, 98%, 58%, 0);
  height: 34px;
  width: 34px;
  top: 35px;
}

.loader-line-wrap:nth-child(1) .loader-line-7 {
  border-color: hsl(320, 92%, 54%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line-7 {
  border-color: hsl(310, 64%, 71%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line-7 {
  border-color: hsl(0, 0%, 100%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line-7 {
  border-color: hsl(9, 81%, 64%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line-7 {
  border-color: hsl(9, 71%, 52%);
  height: 34px;
  width: 34px;
  top: 35px;
}

/* ===================================================================
 *  03. Stats Section 
 *
 * ------------------------------------------------------------------- */

.home-section {
  position: absolute;
  background: #000;
  background: radial-gradient(#333, #111);
  background-size: cover;
  height: 200vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 0;
  background-position: fixed;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ===================================================================
 *  04. Navbar 
 *
 * ------------------------------------------------------------------- */

.navbar {
  font-family: Proxima Nova;
  font-size: 50px;
  font-weight: 600;
  color: white;
  width: 100%;
  height: 80px;
  position: fixed;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.514);
  z-index: 99;
  transition: all 0.5s ease;
}

html:not([data-scroll='0']) body .navbar {
  background-color: rgba(0, 0, 0, 1);
  transition: all 0.5s ease;
}

.navbar .title {
  transform: translateY(-85%);
}

.navbar .title svg {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  display: inline
}

.navbar .logo {
  display: inline;
  margin-right: 20px;
  border-radius: 20px;
  width: 50px;
  height: 50px;
  background-image: '/logo.png';
  background-size: cover;
}

/* ===================================================================
 *  05. Footer
 *
 * ------------------------------------------------------------------- */

.footer-basic {
  padding: 40px 0;
  background: #000;
  background: radial-gradient(rgb(22, 22, 22), rgb(17, 17, 17));
  color: white;
  border-top: 4px solid #33d486;
}

.footer-basic ul {
  font-family: 'Intro';
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
  display: inline;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.7;
  transition: all 0.5s ease;
}

.footer-basic ul a:hover {
  opacity: 1;
  color: #33d486;
  transition: all 0.5s ease;
}

.footer-basic footer .social {
  font-family: 'Intro';
  text-align: center;
  padding-bottom: 5px;
}

.footer-basic footer .social > a {
  font-family: 'Intro';
  font-size: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #33d486;
  margin: 2px 8px;
  color: inherit;
  opacity: 0.7;
  transition: all 0.5s ease;
}
.footer-basic footer .social > a > i {
  position: relative;
  top: 6px;
}

.footer-basic footer .social > a > i > svg {
  width: 20px;
  height: 20px;
}

.footer-basic footer .social > a:hover {
  opacity: 1;
  border: 1px solid #33d486;
  color: #33d486;
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.footer-basic footer .copyright {
  font-family: Proxima Nova;
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #33d486;
  opacity: 0.7;
  margin-bottom: 0;
}

/* ===================================================================
 *  06. Spotify Profile 
 *
 * ------------------------------------------------------------------- */

.wrapper {
  width: 100%;
  padding: 6rem 2rem;
  display: inline-block;
  overflow: hidden;
}

.spotify-profile {
  width: 25%;
  height: 300px;
  border-radius: 20px;
  float: left;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.3);
}

.spotify-profile .spotify-image {
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  background-size: cover;
  transform: translateY(30%);
}

.spotify-profile .spotify-country {
  width: 40px;
  height: 40px;
  background-size: cover;
  position: absolute;
  border-radius: 50%;
  outline: solid 10px #0b0b0b;
  left: 17%;
}

.spotify-profile .spotify-name {
  font-weight: 600;
  font-family: 'Proxima Nova';
  font-size: 30px;
  color: white;
  text-align: center;
  transform: translateY(70px);
}

.spotify-profile .spotify-followers {
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: #33d486;
  text-align: center;
  transform: translateY(70px);
}

/* ===================================================================
 *  07. Spotify Artists 
 *
 * ------------------------------------------------------------------- */

.spotify-artists {
  width: 45%;
  height: auto;
  border-radius: 20px;
  float: left;
  margin: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.spotify-artists .artists-title {
  margin: 10px;
  margin-top: 20px;
  color: white;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Proxima Nova';
}

.spotify-artists .artists-description {
  margin: 10px;
  color: rgb(175, 175, 175);
  font-size: 15px;
  font-weight: 600;
  font-family: Proxima Nova;
  margin-bottom: 20px;
}

.spotify-artists .artist {
  margin: 10px;
  height: 70px;
  border-bottom: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: all 0.5s ease;
  overflow: hidden;
}

.spotify-artists .artist:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.spotify-artists .artist .artist-image {
  float: left;
  width: 50px;
  height: 50px;
  background-size: cover;
  box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.5);
}

.spotify-artists .artist .artist-index {
  float: left;
  font-family: Proxima Nova;
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin: 5px;
  margin-left: 10px;
  margin-right: 20px;
  width: 40px;
  padding: 12px;
  height: 40px;
  background-color: rgb(58, 58, 58);
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

.spotify-artists #artist-0 .artist-index {
  background-color: rgb(201, 163, 40);
}

.spotify-artists #artist-1 .artist-index {
  background-color: rgb(216, 216, 216);
}

.spotify-artists #artist-2 .artist-index {
  background-color: rgba(187, 67, 20, 1);
}

.spotify-artists .artist .artist-image span {
 
}

.spotify-artists .artist .artist-name {
  margin: 15px;
  float: left;
  font-family: Proxima Nova;
  font-size: 15px;
  font-weight: 600;
  color: white;
  width: 50%;
}

.spotify-artists .artist .artist-followers {
  float: right;
  text-align: right;
  color: #929292;
  font-family: Proxima Nova;
  font-size: 15px;
  font-weight: 600;
  margin: 10px;
}

/* ===================================================================
 *  08. Spotify Tracks 
 *
 * ------------------------------------------------------------------- */

.spotify-tracks {
  width: 45%;
  height: auto;
  border-radius: 20px;
  float: left;
  margin: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.spotify-tracks .tracks-title {
  margin: 10px;
  margin-top: 20px;
  color: white;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Proxima Nova';
}

.spotify-tracks .tracks-description {
  margin: 10px;
  color: rgb(175, 175, 175);
  font-size: 15px;
  font-weight: 600;
  font-family: Proxima Nova;
  margin-bottom: 20px;
}

.spotify-tracks .track {
  margin: 10px;
  height: 70px;
  border-bottom: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: all 0.5s ease;
  overflow: hidden;
}

.spotify-tracks .track:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.spotify-tracks .track .track-image {
  float: left;
}

.spotify-tracks .track .track-index {
  float: left;
  width: 30%;
  font-family: Proxima Nova;
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin: 5px;
  margin-left: 10px;
  margin-right: 20px;
  width: 40px;
  padding: 12px;
  height: 40px;
  background-color: rgb(58, 58, 58);
  border-radius: 50%;
  text-align: center;
}

.spotify-tracks #track-0 .track-index {
  background-color: rgb(201, 163, 40);
}

.spotify-tracks #track-1 .track-index {
  background-color: rgb(216, 216, 216);
}

.spotify-tracks #track-2 .track-index {
  background-color: rgba(187, 67, 20, 1);
}

.spotify-tracks .track .track-image span {
  border-radius: 50%;
}

.spotify-tracks .track .track-name {
  width: 50%;
  margin: 15px;
  float: left;
  font-family: Proxima Nova;
  font-size: 15px;
  font-weight: 600;
  color: white;
}

.spotify-tracks .track svg {
  margin: 10px;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  color: white;
  float: left;
  border-radius: 50%;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.spotify-tracks .track .track-followers {
  float: right;
  text-align: right;
  color: #929292;
  font-family: Proxima Nova;
  font-size: 15px;
  font-weight: 600;
  margin: 10px;
}

.spotify-tracks .track .track-followers svg {
  transform: translateY(2.5px);
  height: 15px;
  width: 15px;
  margin-left: 10px;
  color: #929292;
  margin-top: 0px;
  box-shadow: none;
}

/* ===================================================================
 *  09. Spotify Genres 
 *
 * ------------------------------------------------------------------- */

.spotify-genres {
  width: 65%;
  height: 300px;
  border-radius: 20px;
  float: left;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.3);
}

.spotify-genres .genres-info {
  width: 60%;
  float: left;
  margin: 20px;
}

.spotify-genres .genres-info .genres-title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Proxima Nova';
  margin: 10px;
  margin-top: 10px;
}

.spotify-genres .genres-info .genres-description {
  margin: 10px;
  color: rgb(175, 175, 175);
  font-size: 15px;
  font-weight: 600;
  font-family: Proxima Nova;
}

.spotify-genres .genres-info .genres-container {
  margin: 5px;
  height: 170px;
  overflow-y: scroll;
}

.spotify-genres .genres-info .genres-container div {
  display: flex;
  float: left;
  margin: 5px;
  border-radius: 6px;
  padding: 2px;
  font-size: auto;
  color: rgb(236, 236, 236);
  font-family: Proxima Nova;
}

.spotify-genres .genres {
  width: 30%;
  transform: translateY(25px);
  float: right;
}

/* ===================================================================
 *  10. Credits Box 
 *
 * ------------------------------------------------------------------- */

.credits {
  width: 91.5%;
  height: auto;
  border-radius: 20px;
  float: left;
  margin: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.credits .credits-title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
  margin-top: 10px;
}

.credits .credits-description {
  margin: 10px;
  margin-top: 20px;
  color: rgb(175, 175, 175);
  line-height: 25px;
  font-size: 15px;
  font-weight: 600;
  font-family: Proxima Nova;
}

.credits .credits-profiles {
  margin: auto;
  margin-top: 20px;
}

.credits .credits-profiles .profile {
  height: 50px;
  width: 50px;
  background-size: cover;
  border-radius: 50%;
}

.credits .credits-profiles .profile .profile-name {
  margin: auto;
  width: 100px;
  background-color: rgb(7, 7, 7);
  color: white;
  font-weight: 600;
  font-family: Proxima Nova;
  display: none;
  border-radius: 8px;
  position: relative;
  transform: translateX(50px);
  padding: 5px;
  text-align: center;
}

.credits .credits-profiles .profile:hover > .profile-name {
  display: flex;
}

@media (max-width: 1302px) {
  .spotify-artists,
  .spotify-tracks,
  .spotify-genres,
  .spotify-profile,
  .credits {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .spotify-profile .spotify-country {
    left: 55%;
  }
  .spotify-genres {
    height: auto;
  }
}

@media (max-width: 630px) {
  .spotify-tracks .track .track-followers {
    display: none;
  }
  .spotify-artists .artist .artist-followers {
    display: none;
  }
}

@media (max-width: 462px) {
  .spotify-genres .genres-info {
    width: 90%;
    margin: 0px;
  }
  .spotify-genres .genres {
    width: 90%;
    margin: 15px;
    clear: both;
    transform: translateY(0px);
  }
  .spotify-tracks .track .track-index {
    margin: 2px;
  }
  .spotify-tracks .track svg {
    margin: 10px;
  }
  .spotify-tracks .track .track-name {
    width: 40%;
    font-size: 10px;
  }
  .spotify-artists .artist .artist-name {
    width: 40%;
    font-size: 10px;
  }
}


/* ===================================================================
 *  11. Landing Page 
 *
 * ------------------------------------------------------------------- */

#home {
  width: 100%;
  height: 786px;
  min-height: 786px;
  background-color: transparent;
  position: relative;
  display: table;
  overflow: hidden;
  background-size: cover;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a38f238e-b53e-41d4-b255-c615efd562b5/ddje46n-e165c988-5f31-41b3-9802-d422f47b9457.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2EzOGYyMzhlLWI1M2UtNDFkNC1iMjU1LWM2MTVlZmQ1NjJiNVwvZGRqZTQ2bi1lMTY1Yzk4OC01ZjMxLTQxYjMtOTgwMi1kNDIyZjQ3Yjk0NTcucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Vcgser-qUOEoFX7BbzZiuFYKlQXDDAu0VTHSNjdHNRc);
}

#home .shadow-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: -moz-linear-gradient(left, black 0%, black 20%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, black 0%, black 20%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, black 0%, black 20%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */
}

#home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-color: #000000;
}

.no-js #home {
  background: #151515;
}

.home-content {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.home-content .contents {
  position: relative;
}

.home-content-left {
  padding: 15rem 0 12rem 40px;
  position: relative;
  width: 50%;
}

.home-content-left h3 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2.4rem;
}

.home-content-left h1 {
  font-family: 'montserrat-regular', sans-serif;
  font-size: 5.2rem;
  letter-spacing: -0.05rem;
  line-height: 1.269;
  color: #ffffff;
  margin-bottom: 9rem;
}

.home-content-left .button.stroke {
  color: #ffffff !important;
  border-color: #ffffff;
  margin: 0 0.6rem 1.2rem;
  padding: 0 2.2rem;
  min-width: 188px;
}

.home-content-left .button.stroke span[class*='icon'] {
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.home-content-left .button.stroke:hover,
.home-content-left .button.stroke:focus {
  background-color: white !important;
  color: #000000 !important;
}

.home-image-right {
  display: block;
  position: absolute;
  right: 0;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 21rem;
  width: 50%;
  text-align: right;
}

.home-image-right img {
  vertical-align: bottom;
  width: 95%;
}

.home-scrolldown {
  position: absolute;
  bottom: 10px;
  right: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  float: right;
}

.home-scrolldown i {
  padding-left: 9px;
}

.home-scrolldown a:hover,
.home-scrolldown a:focus {
  color: #44c455 !important;
}

html[data-useragent*='MSIE 10.0'] .home-scrolldown,
.oldie .home-scrolldown {
  display: none;
}

.scroll-icon {
  display: inline-block;
  font-family: 'montserrat-medium', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #ffffff !important;
  background: transparent;
  position: relative;
  top: 36px;
  right: 42px;
  -webkit-animation: animate-it 3s ease infinite;
  animation: animate-it 3s ease infinite;
}

.scroll-icon i {
  font-size: 2.4rem;
  position: relative;
  bottom: -6px;
}

@-webkit-keyframes animate-it {
  0%,
  60%,
  80%,
  100% {
    -webkit-transform: translateX(0);
  }
  0%,
  60%,
  80%,
  100% {
    transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-5px);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(20px);
  }
  40% {
    transform: translateX(20px);
  }
}

@keyframes animate-it {
  0%,
  60%,
  80%,
  100% {
    -webkit-transform: translateX(0);
  }
  0%,
  60%,
  80%,
  100% {
    transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-5px);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(20px);
  }
  40% {
    transform: translateX(20px);
  }
}

@media only screen and (max-width: 1300px) {
  .home-image-right {
    right: 0rem;
  }
}

@media only screen and (max-width: 1200px) {
  #home {
    overflow: hidden;
  }
  .home-content {
    vertical-align: middle;
  }
  .home-content-left {
    padding: 18rem 0 12rem 40px;
  }
  .home-content-left h3 {
    font-size: 1.5rem;
  }
  .home-content-left h1 {
    font-size: 4.8rem;
  }
  .home-image-right {
    padding-top: 18rem;
  }
  .home-image-right img {
    vertical-align: top;
    width: 70%;
  }
}

@media only screen and (max-width: 1100px) {
  .home-content-left h1 {
    font-size: 4.6rem;
  }
  .home-content-left h1 br {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .home-content-left {
    width: 60%;
    padding: 18rem 6rem 12rem 4rem;
  }
  .home-content-left h3 {
    font-size: 1.5rem;
  }
  .home-content-left h1 {
    font-size: 4.2rem;
  }
  .home-image-right {
    width: 60%;
    padding-top: 120px;
  }
  .home-image-right img {
    vertical-align: top;
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  #home {
    height: auto;
    min-height: 840px;
  }
  #home,
  .home-content {
    display: block;
    text-align: center;
  }
  .home-content-left {
    width: 94%;
    position: static;
    padding: 15rem 6rem 366px;
    margin: 0 auto;
  }
  .home-content-left h1 {
    margin-bottom: 3.6rem;
  }
  .home-image-right {
    width: 100%;
    right: auto;
    top: 70%;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 0;
    margin-bottom: -378px;
  }
  .home-image-right img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #home {
    min-height: auto;
  }
  .home-content-left h3 {
    font-size: 1.4rem;
  }
  .home-content-left h1 {
    font-size: 3.6rem;
  }
}

@media only screen and (max-width: 600px) {
  .home-content-left {
    padding: 12rem 6rem 366px;
  }
  .home-content-left h1 {
    font-size: 3.3rem;
  }
  .home-content-left .button.stroke {
    width: 100%;
    min-width: 0;
    max-width: 280px;
  }
  .home-social-list {
    font-size: 2rem;
    right: 30px;
  }
  .scroll-icon {
    top: 21px;
  }
}

@media only screen and (max-width: 500px) {
  .home-social-list,
  .home-scrolldown {
    display: none;
  }
  .home-content-left {
    padding: 12rem 2.5rem 366px;
    width: 100%;
  }
  .home-content-left h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 400px) {
  .home-content-left {
    padding: 12rem 0 300px;
  }
  .home-content-left .button.stroke {
    margin: 0 0 1.2rem 0;
  }
  .home-image-right {
    width: 320px;
    margin-bottom: -298px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h01,
.h02,
.h03,
.h04,
.h05,
.h06 {
  font-family: 'montserrat-regular', sans-serif;
  color: #151515;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin-bottom: 2.4rem;
}

h3,
.h03,
h4,
.h04 {
  margin-bottom: 1.5rem;
}
h5,
.h05,
h6,
.h06 {
  margin-bottom: 1.2rem;
}
h1,
.h01 {
  font-size: 3.1rem;
  line-height: 1.35;
  letter-spacing: -0.1rem;
}

@media only screen and (max-width: 600px) {
  h1,
  .h01 {
    font-size: 2.6rem;
    letter-spacing: -0.07rem;
  }
}

h2,
.h02 {
  font-size: 2.4rem;
  line-height: 1.25;
}
h3,
.h03 {
  font-size: 2rem;
  line-height: 1.5;
}

.button,
button,
input[type='button'] {
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  font-weight: 600;
  height: 5.4rem;
  line-height: calc(5.4rem - 0.6rem);
  padding: 0 0rem;
  margin: 0 0.3rem 1.2rem 0;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #c5c5c5;
  border: 0.3rem solid #c5c5c5;
}

.button:hover,
button:hover,
input[type='button']:hover,
.button:focus,
button:focus,
input[type='button']:focus {
  background-color: #b8b8b8;
  border-color: #b8b8b8;
  color: white;
  outline: 0;
}