.container {
  padding: 0 0rem;
  background: radial-gradient(rgb(37, 37, 37), rgb(7, 7, 7));
 }

.main {
  min-height: 80vh;
  padding: 0rem 0rem;
  margin: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
